In [29]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
HeroesofPymoli = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
HeroesofPymoli_df = pd.read_csv(HeroesofPymoli)

In [30]:
#Information on the file
HeroesofPymoli_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [96]:
#Headers and the first 5 rows of the file 
HeroesofPymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [97]:
#Called the headers of the file
HeroesofPymoli_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Groups'],
      dtype='object')

## Player Count

* Display the total number of players

In [98]:
#Determine Total Number of Players
Unique_players = HeroesofPymoli_df["SN"].nunique()
Players = {"Total Number of Players":[Unique_players]}
Unique_players_df = pd.DataFrame(Players)
Unique_players_df

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [99]:
#Calculation for unique items
Unique_items = HeroesofPymoli_df["Item Name"].nunique()
Unique_items

179

In [100]:
#Calculation for avg price
Avg_price = round(HeroesofPymoli_df["Price"].mean(),2)
Avg_price

3.05

In [101]:
#Calculation for number of purchases
Number_of_purchases = HeroesofPymoli_df["Purchase ID"].nunique()
Number_of_purchases

780

In [102]:
#Calculation for total revenue
Total_revenue = HeroesofPymoli_df["Price"].sum()
Total_revenue

2379.77

In [103]:
#Creating a Dataframe for the above data
purchasing_analysis = {"Number of Unique Items":[Unique_items], "Average Price":[Avg_price],
                      "Number of Purchases":[Number_of_purchases], "Total Revenue":[Total_revenue]}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [111]:
#Drop duplicated Screen Names in the column "SN"
dropped_df = HeroesofPymoli_df.drop_duplicates(["SN"])

In [162]:
#Calculated amount per gender based on "SN"
Gender_of_players = HeroesofPymoli_df.groupby(["Gender"])["SN"].nunique()

#Amount of players per gender and a DataFrame
Gender_df = {"Gender":[Gender_of_players]}
Gender_df = pd.DataFrame(Gender_of_players)
Gender_df

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [165]:
#Sorted gender to show descending amount of players
Sorted_gender = Gender_df.sort_values(["SN"],ascending=False)
Sorted_gender

                        SN
Gender
Male                   484
Female                  81
Other / Non-Disclosed   11

In [164]:
#Groupby with Gender
Gender_groupby_df = HeroesofPymoli_df.groupby(["Gender"])
Gender_groupby_df.first()

,Purchase ID,SN,Age,Item ID,Item Name,Price,Age Groups
Gender,,,,,,,
Female,15,Lisassa64,21,98,"Deadline, Voice Of Subtlety",2.89,20-24
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
Other / Non-Disclosed,9,Chanosian48,35,136,Ghastly Adamantite Protector,3.58,35-39

In [140]:
#Determining the percent of players per gender
Gender_percent = (Gender_of_players/Unique_players) *100
Gender_percent

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [168]:
#Creating a Dataframe with percent and total count of players
Percent_df = pd.DataFrame({"Total Count":Gender_total, "Percentage of Players":Gender_percent})
Percent_df["Percentage of Players"] = Percent_df["Percentage of Players"].map("{:.2f}%".format)

##Sorted gender to show descending amount of percentage of players per gender
Sorted_percent = Percent_df.sort_values(["Percentage of Players"],ascending=False)
Sorted_percent

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [144]:
#Purchase count made per gender
Gender_purchase_count = Gender_groupby_df["Purchase ID"].count()
Gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [145]:
#Total purchase amount per gender
Total_purchase_gender = Gender_groupby_df["Price"].sum()
Total_purchase_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [146]:
#Average purchase per gender
Purchasing_average = Gender_groupby_df["Price"].mean()
Purchasing_average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [147]:
#Average purchase made per person and per gender
Gender_average = Total_purchase_gender / Gender_total
Gender_average

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [173]:
#DataFrame of the gender purchases 
Gender_purchasing_analysis_df = pd.DataFrame({"Purchase Count":Gender_purchase_count, "Average Purchase Price":Purchasing_average,
                                      "Total Purchase Value":Total_purchase_gender, "Avg Total Purchase per Person":Gender_average})

#Formatting of the Gender dataframe
Gender_purchasing_analysis_df["Average Purchase Price"] = Gender_purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
Gender_purchasing_analysis_df["Total Purchase Value"] = Gender_purchasing_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
Gender_purchasing_analysis_df["Avg Total Purchase per Person"] = Gender_purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)

#Sorted table by total purchase value to show the gender that purchased the most
Sorted_gender_purchases = Gender_purchasing_analysis_df.sort_values(["Purchase Count"],ascending=False)
Sorted_gender_purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [174]:
#Age Group Binning
Bins = [0,9,14,19,24,29,34,39,54]
Bin_group = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
HeroesofPymoli_df["Age Groups"] = pd.cut(HeroesofPymoli_df["Age"],Bins,labels=Bin_group)
HeroesofPymoli_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [175]:
#Determining the amount and percentage of people per age group
Age_groups_df = HeroesofPymoli_df.groupby("Age Groups")
Age_total_count = Age_groups_df["SN"].nunique()
Age_percent = Age_total_count/Unique_players*100

#Creating a dataframe for age group and formatting
Aging = pd.DataFrame({"Total Count":Age_total_count,"Percentage of Players":Age_percent})
Aging["Percentage of Players"]=Aging["Percentage of Players"].map("{:.2f}%".format)
Aging

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [176]:
#Purchase analysis
Purchasing_count = Age_groups_df["Purchase ID"].count()
Total_purchase_value = Age_groups_df["Price"].sum()
Average_purchase = Age_groups_df["Price"].mean()
Unique_total = Age_groups_df["SN"].nunique()
Average_person = Total_purchase_value/Unique_total

#Printing the analysis 
Purchasing_count, Total_purchase_value, Average_purchase, Average_person

(Age Groups
 <10       23
 10-14     28
 15-19    136
 20-24    365
 25-29    101
 30-34     73
 35-39     41
 40+       13
 Name: Purchase ID, dtype: int64,
 Age Groups
 <10        77.13
 10-14      82.78
 15-19     412.89
 20-24    1114.06
 25-29     293.00
 30-34     214.00
 35-39     147.67
 40+        38.24
 Name: Price, dtype: float64,
 Age Groups
 <10      3.353478
 10-14    2.956429
 15-19    3.035956
 20-24    3.052219
 25-29    2.900990
 30-34    2.931507
 35-39    3.601707
 40+      2.941538
 Name: Price, dtype: float64,
 Age Groups
 <10      4.537059
 10-14    3.762727
 15-19    3.858785
 20-24    4.318062
 25-29    3.805195
 30-34    4.115385
 35-39    4.763548
 40+      3.186667
 dtype: float64)

In [177]:
#Creating a dataframe for the purchase analysis
Age_purchasing_analysis_df = pd.DataFrame({"Purchase Count":Purchasing_count, "Average Purchase Price":Average_purchase,
                                      "Total Purchase Value":Total_purchase_value, "Avg Total Purchase per Person":Average_person})

#Formatting for the analysis
Age_purchasing_analysis_df["Average Purchase Price"]=Age_purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
Age_purchasing_analysis_df["Total Purchase Value"]=Age_purchasing_analysis_df["Total Purchase Value"].map("${:.2f}".format)
Age_purchasing_analysis_df["Avg Total Purchase per Person"]=Age_purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
Age_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [178]:
#Calculating the spending each gender does
Spending_money_df = HeroesofPymoli_df.groupby("SN")
Purchase_count = Spending_money_df["Purchase ID"].count()
Average_purchase_price = Spending_money_df["Price"].mean()
Total_purchase_value = Spending_money_df["Price"].sum()

#Creating a dataframe for the spending
Final_purchasing = pd.DataFrame({"Purchase Count":Purchase_count,"Average Purchase Price":Average_purchase_price,
                                "Total Purchase Value":Total_purchase_value})

#Formatting and descending amount based on total purchase value
Sorted_purchase = Final_purchasing.sort_values(["Total Purchase Value"],ascending=False)
Sorted_purchase["Average Purchase Price"]=Sorted_purchase["Average Purchase Price"].map("${:.2f}".format)
Sorted_purchase["Total Purchase Value"]=Sorted_purchase["Total Purchase Value"].map("${:.2f}".format)
Sorted_purchase.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [179]:
#Determining the popular items
Pop_items = HeroesofPymoli_df.groupby(["Item ID","Item Name"])
Item_purchased_count = Pop_items["Purchase ID"].count()
Average_item_price = Pop_items["Price"].mean()
Total_item_price = Pop_items["Price"].sum()

In [181]:
#Creating a dataframe for the popular items
Items_popular = pd.DataFrame({"Purchase Count":Item_purchased_count, "Price":Average_item_price,
                             "Total Purchase Value": Total_item_price})

#Formatting and sorting the popular items based on total purchase value
Items_sorted = Items_popular.sort_values(["Purchase Count"],ascending=False)
Items_sorted["Price"]=Items_sorted["Price"].map("${:.2f}".format)
Items_sorted["Total Purchase Value"]=Items_sorted["Total Purchase Value"].map("${:.2f}".format)
Items_sorted.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [182]:
#Using the spending dataframe and sorting the items to see what's more profitable
Profitable_items = Items_popular.sort_values(["Total Purchase Value"],ascending=False)
Profitable_items["Price"]=Profitable_items["Price"].map("${:.2f}".format)
Profitable_items["Total Purchase Value"]=Profitable_items["Total Purchase Value"].map("${:.2f}".format)
Profitable_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80